<br>
<div class="container col-md-12" >
<% if current_admin.try(:super?) %>

<%= render 'formbusca'%>

<%end%>

<div class="panel " >
 <span><%= link_to '', home_path,:title => 'Fechar', :method => :get , :class =>"btn btn-danger btn3d fa fa-times pull-right"%><%= link_to' Nova Competência', new_compet_path(@compet, egresso_id: params[:egresso_id]),:method => :post , :class =>"btn btn-success btn3d fa fa-book pull-right"%> <% if current_admin.try(:super?) %><a class="btn btn-sm btn-success btn3d pull-right" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa fa-search" title="Pesquisar"></i>
  </a><%end%>  </span>
<div class="panel-heading"><strong>Competências Adicionais</strong></div>

<div class="panel-body">
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
<% if current_admin.try(:super?) %>
    <col width="150px" />
    <col width="250px" />
    <%end %>
    <col width="370px" />
    <col width="200px" />

  <thead>
    <tr>
<% if current_admin.try(:super?) %>
      <th>CPF</th>
      <th>Nome</th>
    <% end %>
      <th>Competência Adicional</th>
      <th>Nível de Conhecimento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compets.each do |compet| %>
      <tr>
      <% if current_admin.try(:super?) %>
        <td><%= compet.egresso.cpf if compet.egresso %></td>
        <td><%= compet.egresso.nome_completo if compet.egresso %></td>
      <% end%>
        <td><%= compet.descricao %></td>
        <td><%= compet.valor %></td>
        <td align="center" colspan="3">
         <div class="btn-group icons" style="width: 120px;">
          <div align="center">     
          <%= link_to '',  edit_compet_path(compet, egresso_id: compet.egresso_id),title: "Editar", :class =>"btn btn-success btn3d fa fa-pencil" %>
          <%= link_to '',  compet,title: "Excuir Atividade", method: :delete, data: { confirm: 'Comfirmar exclusão?' }, :class =>"btn btn-danger btn3d  fa fa-trash " %>
            </div>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>

<div align="center">
<%= will_paginate @compets, renderer: BootstrapPagination::Rails, color: "green", next_label: ">>", previous_label: "<<"   %>
</div>

</div>
</div>
</div>
</table>
<br>

