<p id="notice"><%= notice %></p>

<p>
  <strong>Egresso:</strong>
  <%= @questionario_egresso.egresso %>
</p>

<p>
  <strong>Ig idade:</strong>
  <%= @questionario_egresso.ig_idade %>
</p>

<p>
  <strong>Ig genero:</strong>
  <%= @questionario_egresso.ig_genero %>
</p>

<p>
  <strong>Ig cor:</strong>
  <%= @questionario_egresso.ig_cor %>
</p>

<p>
  <strong>Ig est conjug:</strong>
  <%= @questionario_egresso.ig_est_conjug %>
</p>

<p>
  <strong>Ia qual curso:</strong>
  <%= @questionario_egresso.ia_qual_curso %>
</p>

<p>
  <strong>Ia nome curso:</strong>
  <%= @questionario_egresso.ia_nome_curso %>
</p>

<p>
  <strong>Ia ano iniciou:</strong>
  <%= @questionario_egresso.ia_ano_iniciou %>
</p>

<p>
  <strong>Ia ano concluiu:</strong>
  <%= @questionario_egresso.ia_ano_concluiu %>
</p>

<p>
  <strong>Ia satisf palestras:</strong>
  <%= @questionario_egresso.ia_satisf_palestras %>
</p>

<p>
  <strong>Ia satisf oficina:</strong>
  <%= @questionario_egresso.ia_satisf_oficina %>
</p>

<p>
  <strong>Ia satisf minicurso:</strong>
  <%= @questionario_egresso.ia_satisf_minicurso %>
</p>

<p>
  <strong>Ia satisf seminario:</strong>
  <%= @questionario_egresso.ia_satisf_seminario %>
</p>

<p>
  <strong>Ia satisf vis tec:</strong>
  <%= @questionario_egresso.ia_satisf_vis_tec %>
</p>

<p>
  <strong>Ia satisf estagio:</strong>
  <%= @questionario_egresso.ia_satisf_estagio %>
</p>

<p>
  <strong>Ia satisf prat prof:</strong>
  <%= @questionario_egresso.ia_satisf_prat_prof %>
</p>

<p>
  <strong>Ia satisf bolsas:</strong>
  <%= @questionario_egresso.ia_satisf_bolsas %>
</p>

<p>
  <strong>Ia est dur curso:</strong>
  <%= @questionario_egresso.ia_est_dur_curso %>
</p>

<p>
  <strong>Ia empresa pq nao:</strong>
  <%= @questionario_egresso.ia_empresa_pq_nao %>
</p>

<p>
  <strong>Ia avalia curso:</strong>
  <%= @questionario_egresso.ia_avalia_curso %>
</p>

<p>
  <strong>Ia nessec atlzr:</strong>
  <%= @questionario_egresso.ia_nessec_atlzr %>
</p>

<p>
  <strong>Ia fazer atlzr:</strong>
  <%= @questionario_egresso.ia_fazer_atlzr %>
</p>

<p>
  <strong>Saip esta inst:</strong>
  <%= @questionario_egresso.saip_esta_inst %>
</p>

<p>
  <strong>Saip back inst:</strong>
  <%= @questionario_egresso.saip_back_inst %>
</p>

<p>
  <strong>Saip curso atual:</strong>
  <%= @questionario_egresso.saip_curso_atual %>
</p>

<p>
  <strong>Saip pqnao back:</strong>
  <%= @questionario_egresso.saip_pqnao_back %>
</p>

<p>
  <strong>Saip trab atual:</strong>
  <%= @questionario_egresso.saip_trab_atual %>
</p>

<p>
  <strong>Saip trab area:</strong>
  <%= @questionario_egresso.saip_trab_area %>
</p>

<p>
  <strong>Saip tempo:</strong>
  <%= @questionario_egresso.saip_tempo %>
</p>

<p>
  <strong>Saip vinculo:</strong>
  <%= @questionario_egresso.saip_vinculo %>
</p>

<p>
  <strong>Saip local:</strong>
  <%= @questionario_egresso.saip_local %>
</p>

<p>
  <strong>Saip renda:</strong>
  <%= @questionario_egresso.saip_renda %>
</p>

<p>
  <strong>Saip ja trab:</strong>
  <%= @questionario_egresso.saip_ja_trab %>
</p>

<p>
  <strong>Saip prim oport:</strong>
  <%= @questionario_egresso.saip_prim_oport %>
</p>

<p>
  <strong>Saip pq nao esta:</strong>
  <%= @questionario_egresso.saip_pq_nao_esta %>
</p>

<p>
  <strong>Saip pq nunca:</strong>
  <%= @questionario_egresso.saip_pq_nunca %>
</p>

<%= link_to 'Edit', edit_questionario_egresso_path(@questionario_egresso) %> |
<%= link_to 'Back', questionario_egressos_path %>
