<br>
<div class="col-md-2"></div>
<div class="container col-md-8" >

<% if current_admin.try(:super?) %>
<%= render 'formbusca'%>
<%end%>

<div class="panel " >

  <span><%= link_to '', home_path,:title => 'Fechar', :method => :get , :class =>"btn btn-danger btn3d fa fa-times pull-right"%><%= link_to' Novo Ramo de Atividade', new_ramo_ativ_path,:method => :post , :class =>"btn btn-success btn3d fa fa-plus-square pull-right"%> <a class="btn btn-sm btn-success btn3d pull-right" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa fa-search" title="Pesquisar"></i>
  </a> </span>

<div class="panel-heading"><strong> Lista de Ramos de Atividades </strong></div>

<div class="panel-body">

<div class="table-responsive">
<table class="table table-striped table-bordered table-hover fixed">
  <col width="300px">
  <col width="100px">
  <thead>
    <tr>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ramo_ativs.each do |ramo_ativ| %>
      <tr>
        <td><%= ramo_ativ.ramo_ativ %></td>
        <td align="center">
        <div class="btn-group icons">

          <%= link_to '',  edit_ramo_ativ_path(ramo_ativ), title: "Editar", :class =>"btn btn-success fa fa-pencil btn3d" %>
          <%= link_to '', ramo_ativ, method: :delete, data: { confirm: 'Deseja realmente deletar?' }, title: "Deletar", :class =>"btn btn-danger fa fa-trash btn3d" %>

          </div>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<div  align="center">
<%= will_paginate @ramo_ativs, renderer: BootstrapPagination::Rails, color: "green", inner_window: 2, outer_window: 1, next_label: ">>", previous_label: "<<"   %>
</div>
</div>

</div>
</div>

