        <div class="row">
    <div class="container" >
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
  
                <div class="login-panel panel" >
                    <div class="panel-heading">
                        <h3 class="panel-title">Login Instituição</h3>
                    </div>
                    <div class="panel-body" >

<h2>Esqueceu sua senha?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

     <div class="form-group">

       <%= f.label :email,'E-mail', class: "control-label" %><br />
       <div style="margin-bottom: 25px"class="input-group">
          <span class="input-group-addon" style="background-color: #79D631;"><i class="glyphicon glyphicon-user"></i></span>
         <%= f.email_field :email, autofocus: true, class: "form-control" %>
       </div>
    </div>

  <div class="actions" align="center">
    <%= f.submit "Solicitar instruções", class: 'btn btn3d btn-block btn-success'%>
  </div>
<% end %>

<br>

<%= render "admins/shared/links" %>
