<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @divulgacao.data %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @divulgacao.descricao %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @divulgacao.tipo %>
</p>

<p>
  <strong>Situacao:</strong>
  <%= @divulgacao.situacao %>
</p>

<p>
  <strong>Assunto evento:</strong>
  <%= @divulgacao.assunto_evento %>
</p>

<p>
  <strong>Foto1:</strong>
  <%= @divulgacao.foto1 %>
</p>

<p>
  <strong>Foto2:</strong>
  <%= @divulgacao.foto2 %>
</p>

<p>
  <strong>Foto3:</strong>
  <%= @divulgacao.foto3 %>
</p>

<p>
  <strong>Foto4:</strong>
  <%= @divulgacao.foto4 %>
</p>

<p>
  <strong>Assunto video:</strong>
  <%= @divulgacao.assunto_video %>
</p>

<p>
  <strong>Video:</strong>
  <%= @divulgacao.video %>
</p>

<%= link_to 'Edit', edit_divulgacao_path(@divulgacao) %> |
<%= link_to 'Back', divulgacaos_path %>
